body{
    margin: auto;
    padding: 0;

    text-align: center;
    background-image:url(img/half_life_bg_3.jpg);
    height: 100%;
    width: 100%;
    background-color: black;

    overflow: hidden;


}

.h12{
    position: absolute;
    left: 300px;
}

.container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 400px;
    margin-left: 1030px;
    margin-top: -20px;

}

.container_for_instruction {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 350px;
    margin-left: 650px;
    margin-top: -20px;

}

.const_tab{
    margin-top: 10px;
    background-color: #a2a2a2;
    color: #3d4d8b;
    font-size: 18px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.instruction_tab{
    text-align: left;
    margin-top: 5px;
    background-color: #a2a2a2;
    color: #3d4d8b;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

h1{
    background-image: url("img/metal_bg.jpeg");
    color: rgb(241, 241, 241);
    font-family: "Arial Narr", serif;
    font-size: 45px;
    padding: .5em;
    height: 100px;

}

html {
    height: 100%;

}

.prog-info {
    position: absolute;
    font: 1.5vw Arial, Helvetica, sans-serif;
    left: 1210px;
    top: 0;
    color: #ffffff;
    /*position: relative;*/
    max-height: 2.25vw;
    grid-column: -3;
    grid-row: 2;
}

.prog-info-inf {
    text-align: center;
    min-width: 300px;
    z-index: -1;
    opacity: 0;
    position: relative;
    left: -7.5vw;
    top: 110%;
    background-color: white;
    border: 0.3vw double black;
    color: black;
    grid-column: -3;
    grid-row: 3;
}

.prog-info p:hover {
    border-color: purple;
}
#prog-info-p:hover  ~ .prog-info-inf {
    opacity: 1;
    z-index: 1;
}

#department{
    position: absolute;
    height: 110px;
    top: 30px;
    left: 100px;
}
#tag{
    position: absolute;
    left: 1150px;
    top: 30px;
    height: 100px;
}
#tag{
    position: absolute;
    left: 1150px;
    top: 30px;
    height: 100px;
}
/*****************************************************************************************************************/
/*                                                      STAND                                                    */
/*****************************************************************************************************************/
.all{
    /*transform: scale();*/
    position: fixed;
    top: -10px;
}
.stand{
    position: absolute;

}
.sphere{
    position: absolute;
    width: 445px;
    height: 600px;
    top: 240px;
    left: 184px;
}
.table{
    background-image: url("img/wood_bg_2.jpeg");
    position: absolute;
    width: 1200px;
    height: 220px;
    top: 610px;
    left: 90px;
    border-radius: 20px;
}

.box{
    background-image: url("img/green_box.jpeg");
    /*border-left: black;*/
    /*border-right: black;*/
    /*border: 10px;*/
    box-shadow: black;
    /*background-color: #416041;*/
    position: absolute;
    /*width: 240px;*/
    /*height: 120px;*/
    /*top: 350px;*/
    /*left: 620px;*/
    width: 150px;
    /*height: 200px;*/
    /*top: 250px;*/
    left: 720px;
    height: 150px;
    top: 470px;
}
.manometr{
    position: absolute;
    width: 800px;
    height: 450px;
    left: 1px;
    top: 300px;
}
.buttons {
    display: flex;
    margin: 10px -5px 0;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 40%;
}

.buttons button {
    flex: 1;
    margin: 0 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 100px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #061539;
    background-color: #981212;
    outline: none;
    cursor: pointer;
}

.buttons button:hover {
    color: #802222;
    background-color: #061539;
}

.arrow{
    position: absolute;
    height: 380px;
    width: 400px;
    left: 191px;
    top: 440px;
}

.medal_disk{
    position: absolute;
    height: 200px;
    width: 219px;
    left: 270px;
    top: 430px;
}

.kreplenie{
    width: 250px;
    height: 223px;
    position: absolute;
    left: 258px;
    top: 480px;
}


.trubki{
    position: absolute;
    /*width: 900px;*/
    /*left: 250px;*/
    /*top: 510px;*/
    width: 1000px;
    height: 440px;
    left: 240px;
    top: 450px;
}
.krishka{
    position: absolute;
    /*width: 83px;*/
    /*left: 1065px;*/
    /*top: 500px;*/
    width: 90px;
    height: 80px;
    left: 1147px;
    top: 410px;
    cursor: pointer;
}

/**************************        THERMOMETR        *******************************/
.thermometr{
    position: absolute;
    top: 150px;
}

.red_line_thermometr{
    position: absolute;
    background-color: red;
    width: 50px;
    height: 240px;
    top: 150px;
    left: 30px;
    /*top: 150px;  -- 16 degrees*/
}

.carcas_thermometr{
    position: absolute;
}

.barometr{
    margin-top: 150px;
    margin-left: 685px;
    position: absolute;

}

.carcas_barometr{
    width: 300px;
    position: absolute;
}

.strelka_barometr{
    left: 50px;
    top: 45px;
    width: 200px;
    position: absolute;
    /*transform: rotate(32deg);*/
}




